* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  paddin: 0;
}

body {
  background: #ea0a8c;
}

section {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-bottom: solid thin #fff;
}

h1,h2,h3,h4,h5,h6 {
  font-family: eloquent-jf-pro, serif;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  width: 100%
}

section#content img.logo {
  max-width: 600px;
  min-width: 300px;
}
