* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  paddin: 0;
  height: 100%;
}

body {
  background: rgba(234,10,140, .7);
}

section {
  height: 100vh;
  position: relative;
}

div.inner-wrap {
  position: relative:
  bottom: 0;
  max-width: 1200px;
}

.eloquent-jf-pro {
  font-family: eloquent-jf-pro, serif;
  font-weight: 400;
  font-style: normal;
}

.gothic-open {
  font-family: gothic-open-shaded, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.coquette {
  font-family: coquette, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hwt-catchwords {
  font-family: hwt-catchwords, sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  width: 100%
}

section#welcome {
  background-image: url('../images/welcome-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

h1.welcome-header {
  font-size:3.5rem;
  width: 35%;
  text-align: center;
  padding: 1rem;
  line-height: 1.3;
}

h1.welcome-header span {
  font-size: 4.2rem;
  display: inline-block;
  margin-left: .5rem;
  margin-top: .5rem;
  transform: rotate(-50deg);
}

section#welcome img.logo {
  max-width: 600px;
  min-width: 300px;
}

.down-section {
  font-size: 2rem;
  text-align: center;
  position: absolute;
  bottom: 2rem;
  transition: all .3s ease-in-out;
  cursor: pointer;
  padding: 1rem;
  border: solid thin #000;
  border-radius: 6px;
}

.down-section:hover {
  border: solid thin #fff;
  background: #fff;
  color:  rgba(234,10,140, 1);
}

.down-section i {
  display: block;
}

section#details div.inner-wrap {
  height: 100%;
  margin: 0 auto;
}

section#details div.inner-wrap .section-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

section#details div.inner-wrap .section-content .text-content {
  width: calc(66.66% - 1rem)
  margin-left: 1rem;
  padding: 1rem;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0% 38%);
  background: #ffcc32;

}

section#details div.inner-wrap .section-content img {
  max-width: 600px;
}
