@mixin hover($color, $background) {
  transition: all .3s ease-in-out;
  cursor: pointer;
  &:hover {
    background: $background;
    color: $color;
    border: solid thin $color;
  }
}

@mixin rotate($time) {
  -webkit-animation:spin $time linear infinite;
  -moz-animation:spin $time linear infinite;
  animation:spin $time linear infinite;
}
