@mixin hover($color, $background) {
  transition: all .3s ease-in-out;
  cursor: pointer;
  &:hover {
    background: $background;
    color: $color;
    border: solid thin $color;
  }
}

@mixin rotate($time) {
  -webkit-animation:spin $time linear infinite;
  -moz-animation:spin $time linear infinite;
  animation:spin $time linear infinite;
}

@mixin dropshadow() {
  -webkit-box-shadow: 2px 9px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 9px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 9px 25px 0px rgba(0,0,0,0.75);
}

$laptop: "(max-width:1550px)";
$tablet-landscape: "(max-width:1100px)";
$tablet-portrait: "(max-width:800px)";
$mobile: "(max-width:750px)";
$smMobile: "(max-width:450px)";

@mixin laptop {
	@media #{$laptop} {
		@content;
	}
}

@mixin tablet-landscape {
	@media #{$tablet-landscape} {
		@content;
	}
}

@mixin tablet-portrait {
	@media #{$tablet-portrait} {
		@content;
	}
}

@mixin mobile {
	@media #{$mobile} {
		@content;
	}
}

@mixin smMobile {
	@media #{$smMobile} {
		@content;
	}
}
