/** colors **/
$pink: #ea088b;
$yellow: #ffcc32;
$purple: #a7549f;
$ltPink: #e58fbc;
$pinkGray: #e1dbe0;
$golden: #f89c27;

/** Fonts **/
$coquette: coquette, sans-serif;
$gothic: gothic-open-shaded, sans-serif;
$hwt: hwt-catchwords, sans-serif;
$eloquent: eloquent-jf-pro, serif;
$proximaNova:  proxima-nova, sans-serif;
