section {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}

section#welcome {
  background-image: url('../../images/welcome-background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $pink;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    max-width: 600px;
  }

  p.coquette {
    font-size: 3rem;
  }

  .down-section {
    position: absolute;
    padding: 1rem;
    border: solid thin #fff;
    color: #fff;
    border-radius: 6px;
    bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    i {
      display: block;
    }
    @include hover($pink, #fff);
  }

  h1 {
    width: 40%;
    max-width: 600px;
    text-align: center;
    span {
      font-family: $hwt;
      font-size: 4rem;
      padding-top: 1rem;
      display: inline-block;
    }
  }
}

section#details {

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: bottom;
  background-image:url('../../images/pvd_bg.jpg');
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: $ltPink;

  .image {
    width: calc(33.33% - 1rem);
    margin: 0 .5rem 0 0;
    img {
      height: 100%;
    }
  }

  .join_us {
    width: calc(33.33% - 1rem);
    margin: 1rem;
  }

  .text-content {
    width: calc(33.33%);
    background: $yellow;
    max-width: 500px;
    height: 75%;
    margin-top: auto;
    position: relative;
    -webkit-border-top-left-radius: 26px;
    -moz-border-radius-topleft: 26px;
    border-top-left-radius: 26px;
    align-self: flex-end;

    h2 {
      font-size: 6rem;
      margin-left: 3rem;
      margin-top: 10rem;
    }

    .details-text {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;


      .details-header {
        font-size: 2.5rem;
        background: $golden;
        margin-left: -2rem;
        padding: 1rem;
        display: block;
        min-width: 300px;
        max-width: 500px;
        text-align: center;

        span.coquette {
          font-family: $coquette;
          display: inline-block;
          font-size: 3rem;
        }
      }
      .ceremony, .reception {
        font-family: $coquette;
        margin-left: 3rem;
        padding-top:1rem;
        padding-bottom: 1rem;
        font-size: 1.8rem;
        span {
          display: block;
        }
        span.address {
          font-size: 1rem;
          margin-top: 1rem;
          color: $pink;
          padding: .5rem 1rem;
          border: solid thin $pink;
          border-radius: 26px;
          max-width: 350px;
          text-align: center;
          background: $pinkGray;
          margin-bottom: 1rem;
          a {
            text-decoration: none;
          }
        }
        .small-text {
          margin-top: 1rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}

section#boombox {
  background: #000;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;


  .titled {
      font-size: 4rem;
      transform: rotate(-20deg);
      color: $yellow;

      span {
        padding: 1rem 2rem;
        background: $yellow;
        display: inline-block;
        color: #000;
      }
  }

  .microphone {
    margin-top: 3rem;
    width: calc(50% - 1rem);
    max-width: 500px;
    margin-bottom: 1rem;
    display: block;
    svg {
      -webkit-animation: fadeInOut 3s infinite;
      -moz-animation: fadeInOut 3s infinite;
      animation: fadeInOut 3s infinite;
      g {
        path {
          fill: $yellow;
        }
      }
    }
  }
}

@-moz-keyframes fadeInOut { 0% {opacity: 0;} 100%{ opacity: 1;} }
@-webkit-keyframes fadeInOut {  0% {opacity: 0;} 100%{ opacity: 1;} }
@keyframes fadeInOut {  0% {opacity: 0;} 100%{ opacity: 1;} }


section#rsvp {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background:url('../../images/crossline-lines.png');
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
}
